@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Fira+Sans:wght@100&family=Urbanist:wght@400;500;600;700;800;900&display=swap');

/* Global styles */

html, body {
  overflow-x: hidden;
}

body {
	font-family: 'Albert Sans', sans-serif;
	position: relative;

}

/* Resetting spin buttons for number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Reset appearance for number input in Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* Styling for a specific font size */
.text-maxxl {
	font-family: 'Big Shoulders Display';
	font-size: 34vh;
	line-height: 0.83;
}

/* Body styles using Tailwind CSS directives */
body {
	@apply bg-gradient-to-r dark:from-gray-950 dark:to-slate-950 dark:text-zinc-200 from-zinc-50 to-zinc-200 text-zinc-800
}

/* Styling for input elements */
.input {
	@apply block font-bold px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-orange-300 focus:outline-none focus:ring-0 focus:border-orange-300;
}

/* Label styling */
.lbl {
	@apply absolute text-gray-500 font-bold dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-orange-300 peer-focus:dark:text-orange-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto;
}

/* Button styles */
.btn {
	@apply transition ease-in-out delay-150 text-white font-bold bg-gradient-to-r from-orange-300 to-rose-300 px-5 py-2.5 mt-3 text-center hover:-translate-y-0.5 duration-700;
}

.btn-stop {
	@apply transition ease-in-out delay-150 text-white font-bold bg-gradient-to-r from-rose-800 to-red-400 px-5 py-2.5 mt-3 text-center hover:-translate-y-0.5 duration-700;
}

.btn-reset {
	@apply transition ease-in-out delay-150  px-5 py-0.5 text-center hover:-translate-y-0.5 duration-700;
}

